# Наука о данных


<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" align="right" style="height: 200px;"/>

# Занятие 4. Циклы for и while

# Циклы

Циклы в программирования позволяют выполнить набор команд некоторое (часто заранее неопределенное) количество раз.

В Python для этого есть два типа циклов.

## Цикл `while`

Часто необходимо продолжать выполнять какие-либо действия до тех пор, пока условие верно. Для этого пригождается циклы `while`. Его синтаксис выглядит следующим образом:

```python
while condition:
    do_something()
```

Простыми словами, цикл `while` работает по принципу:

>Пока что-то истинно `while condition:`, выполняй набор команд (`do_something()`)

In [ ]:
greetings = 0

while greetings < 3:
    print(greetings, 'Hello!')
    greetings = greetings + 1

0 Hello!
1 Hello!
2 Hello!

### Оператор `break`

Можем прервать выполнение цикла (даже до того, пока условие перестанет выполняться) с помощью оператора `break`:

In [ ]:
i = 0
summ = 0

# Сумма первых 100 чисел
while True:
    i += 1
    summ += i
    if not i < 100: break

print(summ)

5050

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

**Замечания:**
1. хотелось бы назвать переменную для суммы как `sum`, но это имя стандартной функции, технически можно переопределить `sum` как переменную, но так крайне не рекомендуется делать
2. можно написать условие и действие на одной строке, если оно одно - это допустимо стилистически

### Оператор `continue`

В некоторых случаях необходимо форсированно перейти к следующей итерации цикла. Например, не все элементы нам необходимо обрабатывать, а лишь те, что подходят по критерию.

Для форсированного перехода к следующей итерации цикла используется оператор `continue`:

In [ ]:
i = 0
k = 5

summ = 0  # Сумма первых 100 чисел не кратных k  

while i < 100:
    i += 1
    if not i % k: continue  # not i % k эквивалентно i % k == 0
    
    summ += i

print(summ)

4000

Можно ли обойтись без `continue`? Да, можно использовать `if-else`:

In [ ]:
i = 0
k = 5

summ = 0  # Сумма первых 100 чисел не кратных k  

while i < 100:
    i += 1
    if i % k:
        summ += i

print(summ)

4000

Однако, если условий перехода к следующей итерации несколько, то количество таких `else` и отступов, связанных с ними, увеличивается - читаемость кода ухудшается.

### Конструкция `while-else`

В Python имеется конструкция `while-else`, которая проверяет был ли выход из цикла с помощью `break`:

In [ ]:
numbers = [1, 3, 7, 5, 10, 6]
i = 0

while i < len(numbers):
    if numbers[i] == 5:
        print('Нашли пятёрку')
        break
    i += 1
else: # если break не сработал 
    print('Не нашли пятёрку')

Нашли пятёрку

>**Примечания**
>- `while-else` - редко используемая конструкция (почти наверняка не встретите в большинстве кода)
>- не очень удачное именование - `else` означает "другое", так почему же выполняется если цикл отработал корректно?! Прична - исторически сложилось + синтаксис GOTO других языков
>- на практике - советуют добавлять коммент, напоминающий читателю что означает этот `else` после `while`
>- единственное практически реальное применение - замена "флага"

In [ ]:
numbers = [1, 3, 7, 8, 10, 6]
i = 0

flag = False
while i < len(numbers):
    if numbers[i] == 5:
        print('Нашли пятёрку')
        flag = True
        break
    i += 1
if not flag:
    print('Не нашли пятёрку')

## Цикл `for`

В Python `for`-цикл устроен следующим образом:

```python
for variable in iterable_var:
    commands(varible)
```

где `iterable_var` - переменная, которая может выдавать какие-либо значения. Чаще всего, это контейнеры, для каждого из элементов которого мы выполняем одинаковый набор команд, описанный в цикле.

##### **Примечания для смешариков - класс `Iterable`**

Технически, в качестве `iterable_var` можно брать любой объект, который является `iterable`, т.е. у которых определен мето `__next__`, с помощью которого можно запросить следующий их элемент.

Среди `iterable`-объектов выделяют **последовательности** (sequences), которые помимо получения следующего элемента могут выдавать элементы и по индексу.

**Примеры последовательностей:** 
- списки
- кортежи
- строки

**Примеры не-последовательностей:**
- множества
- словари
- *генераторы*

### Применение `for`-циклов с контейнерами

Примеры `for`-циклов по спискам, кортежам, строкам:

In [ ]:
list_example = ['list', 1, 2, 3, 4, 5]

for item in list_example:  # одно из принятых имен для переменных цикла - item, элемент
    print(item, end=' ')

list 1 2 3 4 5

In [ ]:
tuple_example = ('tuple', 1, 2, 3, 4, 5)
for item in tuple_example:
    print(item, end=' ')

tuple 1 2 3 4 5

In [ ]:
string_example = "string12345"

for item in string_example:
    print(item, end=' ')

s t r i n g 1 2 3 4 5

Примеры `for`-циклов по множествам, словарям:

In [ ]:
set_example = {'set', 1, 2, 3, 4, 5}

for item in set_example:
    print(item, end=' ')

1 2 3 4 5 set

Хотя мы и не можем обратиться к конкретному элементу множества по индексу, мы можем пройтись по всем элементам множества с помощью цикла `for`:

In [ ]:
set_example[0]

TypeError: ignored

Аналогично при работе со словарями. Но в случае словарей мы можем пробегаться циклом как по ключам, так и по значениям и даже сразу по парам *ключ-значение*:

In [ ]:
dict_example = {'dict': "value0", 1: "value1", 2: "value2", 3: "value3", 4: "value4", 5: "value5"}

In [ ]:
for item in dict_example.keys():
    print(item, end=' ')

dict 1 2 3 4 5

In [ ]:
for item in dict_example.values():
    print(item, end=' ')

value0 value1 value2 value3 value4 value5

In [ ]:
for item in dict_example.items():
    print(item, end=' ')

('dict', 'value0') (1, 'value1') (2, 'value2') (3, 'value3') (4, 'value4') (5, 'value5')

In [ ]:
for item in dict_example:
    print(item, end=' ')

dict 1 2 3 4 5

**Примечание** - for-цикл для словаря выдаст ключи словаря, не значения.

Аналогично конструкции `while-else`, существует и конструкция `for-else`:

In [ ]:
numbers = [1, 3, 7, 8, -5]

for n in numbers:
    if n == 5:
        print('Нашли пятёрку')
        break
        
else: # если break не сработал
    print('Не нашли пятёрку')

Не нашли пятёрку

##### **Примечание для новеньких - вложенные циклы**

Циклы можно размещать и внутри других циклов. Рассмотрим на примере одного из методов сортировки списка - сортировки "пузырьком":

In [ ]:
list_to_sort = [15, 3, 7, 2, 11, 9, 4, 6, 5]

for i in range(len(list_to_sort) - 1):
    for j in range(i + 1, len(list_to_sort)):
        if list_to_sort[j] < list_to_sort[i]:
            list_to_sort[i], list_to_sort[j] = list_to_sort[j], list_to_sort[i]

print(list_to_sort)

[2, 3, 4, 5, 6, 7, 9, 11, 15]

# `range`

Что делать, если просто хотим пройти по числам в диапазоне?

Решение "в лоб", как это делается во многих языках программирования:

In [ ]:
i = 0
max_i = 10
while i < max_i:
    print(i, end=' ')
    # do_something()
    i += 1

0 1 2 3 4 5 6 7 8 9

Это достаточно неудобно для такой часто используемой операции! Поэтому в Python для решения этой задачи ввели специальную функцию - `range` (диапазон).

`range([start,] stop[, step])` возвращает неизменяемую последовательность чисел.

По умолчанию `start=0`, `step=1`, и получаем `[0, stop)`.

In [ ]:
for i in range(10, 21, 2):
    print(i, end=' ')

10 12 14 16 18 20

In [ ]:
for i in range(10, 20):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
for i in range(7):
    print(i, end=' ')

0 1 2 3 4 5 6

Как и в случае со срезами, шаг может быть отрицательным:

In [ ]:
for i in range(17, 3, -3):
    print(i, end=' ')

17 14 11 8 5

Помимо итерирования по `range`, можно проверять входит ли число в него:

In [ ]:
r = range(1, 10, 2)
print(type(r), r)

<class 'range'> range(1, 10, 2)

In [ ]:
print(6 in r)

False

Если хотим получить из `range(...)` список чисел, которые входят в этот диапазон, то можем воспользоваться "функцией" `list`:

In [ ]:
list(r)

[1, 3, 5, 7, 9]

В результате пользоваться `for`-циклом можно пользоваться такими вариантами:

In [ ]:
name_list = ['Alice', 'Bob', 'Charley']
for name in name_list:  # Перебираем элементы списка
    print('Hello, ' + name)

Hello, Alice
Hello, Bob
Hello, Charley

In [ ]:
for i in range(len(name_list)):  # Перебираем индексы от 0 до L-1
    print('Hello, ' + name_list[i])

Hello, Alice
Hello, Bob
Hello, Charley

In [ ]:
for pair in enumerate(name_list): # Перебираем пары индекс-элемент
    i, name = pair
    print(pair, i, name)

(0, 'Alice') 0 Alice
(1, 'Bob') 1 Bob
(2, 'Charley') 2 Charley

In [ ]:
for i, name in enumerate(name_list): # Перебираем пары индекс-элемент
    print('Hello, ' + name_list[i] + "\t" + name)

Hello, Alice	Alice
Hello, Bob	Bob
Hello, Charley	Charley

In [ ]:
i = 0
while i < len(name_list):
    print("Hello", name_list[i])
    i += 2

Hello Alice
Hello Charley

In [ ]:
name_list

['Alice', 'Bob', 'Charley']

In [ ]:
list(enumerate(name_list))

[(0, 'Alice'), (1, 'Bob'), (2, 'Charley')]

# list comprehensions

Часто приходится создавать производные списки - новые списки, элементы которых вычисляются из соответствующих элементов другого контейнера. Например, список квадратов чисел:

In [ ]:
input_list = [3, 14, 15, 92, 65, 35, 89, 79, 323, 84626]

output_list = [0] * len(input_list)  # создаем список из нулей длины как input_list
for i, item in enumerate(input_list):  # "функция" enumerate позволяет получать не только элеметы, но и их порядковый номер
    output_list[i] = input_list[i] ** 2

print(output_list)

[9, 196, 225, 8464, 4225, 1225, 7921, 6241, 104329, 7161559876]

Чтобы упростить создание подобных списков, в Python есть очень удобная штука под названием **list comprehension**, выглядит она вот так:

```python
[выражение for var in iterable_var if condition]
```

Тогда наш пример выше перепишется как:

In [ ]:
output_list = [item ** 2 for item in input_list]
print(output_list)

[9, 196, 225, 8464, 4225, 1225, 7921, 6241, 104329, 7161559876]

Рассмотрим пример использования условия (`condition`) при создании производных списков. Для этого будем сохранять в выходной список только те элементы, которые делятся на `2`:

In [ ]:
output_list = [item ** 2 for item in input_list if item % 2 == 0]
print(output_list)

[196, 8464, 7161559876]

`list comprehension` можно использовать в связке с тернарным оператором:

In [ ]:
result = [x if x != 7 else 7 ** 25 for x in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 1341068619663964900807, 8, 9]

Часто list comprehension используют в связке с range. Например, если вам нужно создать список кубов чисел, которые делятся на 3 без остатка:

In [ ]:
result = [x ** 3 for x in range(10) if x % 3 == 0]
print(result)

[0, 27, 216, 729]

Аналогичный результат классическим способом выглядел бы так:

In [ ]:
result = []
for x in range(10):
    if x % 3 == 0:
        result.append(x ** 3)
print(result)

[0, 27, 216, 729]

Можно делать и вложенные list comprehension, но это ухудшает читаемость:

In [ ]:
[(y, x) for x in range(2, 10) for y in range(x+1, 10) if y % x == 0]

[(4, 2), (6, 2), (8, 2), (6, 3), (9, 3), (8, 4)]

Код выше аналогичен следующему:

In [ ]:
result = []
for x in range(2, 10):
    for y in range(x+1, 10):
        if y % x == 0:
            result.append((y, x))
print(result)

[(4, 2), (6, 2), (8, 2), (6, 3), (9, 3), (8, 4)]

### `dict comprehension` и `set comprehension`

Можно ли так же удобно создавать не только списки, но и множества и словари?

Да, аналогично существуют `dict comprehension` и `set comprehension`:

In [ ]:
result = {x: x ** 2 for x in range(10)}
print(type(result), result)

<class 'dict'> {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
result = {x ** 2 for x in range(10)}
print(type(result), result)

<class 'set'> {0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

А что делать, если хотим пройтись по символам строки?

Здесь используется следующий трюк:

In [ ]:
string = "abc"

result = [string[i] for i in range(len(string)) if string[i] != 'c']
''.join(result)

'ab'

Мы сначала записываем подходящие буквы в список, а затем соединяем список символов (более формально, список строк) с помощью метода `join`, при этом соединяем их с помощью пустой строки.

In [ ]:
'___'.join(result)  # Можем соединять не только пустой строкой

'a___b'

In [ ]:
list_of_strings = ['hello', 'world', 'uwu']  # Можем соединять не только список символов, но и любых строк
' ^_^ '.join(list_of_strings)

'hello ^_^ world ^_^ uwu'

А что насчет кортежей? Можем ли мы так же легко создать производный кортеж, заменив скобки на круглые?

Увы, `tuple comprehension` не существует. Вместо этого круглые скобочки дают нам генераторное выражение (generator expression):

In [ ]:
result = (x ** 2 for x in range(10))
print(type(result), result)

<class 'generator'> <generator object <genexpr> at 0x7f588d5f3270>

**Генераторы** - более продвинутая часть Python. Мы обсудим ее в блоке EXTRA на одном из следующих занятий.

# `zip`

Что делать, если хотим пройтись по двум спискам одновременно? Посмотрим на классический подход?

In [ ]:
list_a = [1, 3, 5, 7, 9]
list_b = [2, 4, 6, 8, 10]
list_c = []

for i in range(len(list_a)):
    list_c.append(list_a[i] + list_b[i])

print(list_c)

[3, 7, 11, 15, 19]

Постоянно обращаться к элементам по индексу неудобно с точки зрения написания кода и неоптимально с точки зрения скорости работы.

Выход "в лоб" - объявить переменные внутри цикла:

In [ ]:
list_a = [1, 3, 5, 7, 9]
list_b = [2, 4, 6, 8, 10]
list_c = []

for i in range(len(list_a)):
    item_a = list_a[i]
    item_b = list_b[i]
    list_c.append(item_a + item_b)

print(list_c)

Каждый раз писать такие присвоения - тоже неудобно. В Python есть встроенная "функция" для этого - `zip`:

In [ ]:
list_a = [1, 3, 5, 7, 9]
list_b = [2, 4, 6, 8, 10]
list_c = []

for item in zip(list_a, list_b):
    list_c.append(item[0] + item[1])

print(list_c)

[3, 7, 11, 15, 19]

Каждый раз обращаться по индексу кортежа item для доступа к элементу тоже не очень удобно. Поэтому можно сделать следующее:

In [ ]:
list_a = [1, 3, 5, 7, 9]
list_b = [2, 4, 6, 8, 10]
list_c = []

for item_a, item_b in zip(list_a, list_b):
    list_c.append(item_a + item_b)

print(list_c)

[3, 7, 11, 15, 19]

In [ ]:
list_a

[1, 3, 5, 7, 9]

In [ ]:
list_b

[2, 4, 6, 8, 10]

In [ ]:
list(zip(list_a, list_b))

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

Но что будет, если контейнеры имеют разное количество элементов?

In [ ]:
list_a = [1, 3, 5]
list_b = [2, 4, 6, 8, 10]
list_c = []

for item_a, item_b in zip(list_a, list_b):
    list_c.append(item_a + item_b)

print(list_c)

[3, 7, 11]

Фактически мы обрежем контейнеры по длине наименьшего.

Но что если бы мы хотели пройтись по всем элементам наших контейнеров? Что если знаем, как стоит дополнить наши контейнеры?

К сожалению, `zip` не позволяет это сделать, однако, мы можем это сделать с помощью функции, скрытом в одном из стандартных модулей Python - `itertools`.

# itertools

В Python встрено огромное количество полезных модулей. В рамках нашего курса мы познакомимся с некоторыми из них.

Один из часто используемых модулей - модуль [itertools](https://docs.python.org/3/library/itertools.html).

Для того, чтобы подключить модуль, можно воспользоваться оператором импорта:

In [ ]:
import itertools

## `zip_longest`

Работает как обычный `zip`, но требует аргумента `fillvalue` (значение для заполнения):

In [ ]:
list_a = [1, 3, 5]
list_b = [2, 4, 6, 8, 10]
list_c = []

for item_a, item_b in itertools.zip_longest(list_a, list_b, fillvalue=0):
    list_c.append(item_a + item_b)

print(list_c)

[3, 7, 11, 8, 10]

## `product`

Одна из функций этого модуля - функция `product`. Она позволяет удобно и лакончно записывать вложенные циклы разной глубины (цикл-в-цикле):

In [ ]:
for i, j, k in itertools.product(range(2), "abc", [1, 2, 3]):
    print(i, j, k)

0 a 1
0 a 2
0 a 3
0 b 1
0 b 2
0 b 3
0 c 1
0 c 2
0 c 3
1 a 1
1 a 2
1 a 3
1 b 1
1 b 2
1 b 3
1 c 1
1 c 2
1 c 3

Этот код эквивалентен следующему:

In [ ]:
for i in range(2):
    for j in "abc":
        for k in [1,2,3]:
            print(i, j, k)

0 a 1
0 a 2
0 a 3
0 b 1
0 b 2
0 b 3
0 c 1
0 c 2
0 c 3
1 a 1
1 a 2
1 a 3
1 b 1
1 b 2
1 b 3
1 c 1
1 c 2
1 c 3

## Комбинаторика

Также можно применять для комбинаторики - перестановки, комбинации, комбинации с повторениями:

In [ ]:
list(itertools.permutations([1, 2, 3]))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
list(itertools.combinations([1, 2, 3], 2))

[(1, 2), (1, 3), (2, 3)]

In [ ]:
list(itertools.combinations_with_replacement([1, 2, 3], 2))

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

# EXTRA. Дополнительные контейнеры

В Python имеется модуль `collections`, в котором содержится множество полезных, но редко используемых структур данных.

Хороший краткий обзор модуля collections можно почитать [здесь](https://pythonworld.ru/moduli/modul-collections.html)

## defaultdict

Модификация словаря, которая позволяет автоматические создавать значения для отсутствующих ключей. Для этого необходимо передать в `defaultdict` имя функции, которая может принимать 0 аргументов:

In [ ]:
from collections import defaultdict

dct = defaultdict(int)
dct

defaultdict(int, {})

In [ ]:
dct[2], dct

(0, defaultdict(int, {2: 0}))

Вместо `int`, можно указывать и остальные функции, связанные с типами данных, например, `bool`, `list`, `float`:

In [ ]:
dct = defaultdict(list)
dct

defaultdict(list, {})

In [ ]:
dct["random"]

[]

In [ ]:
dct

defaultdict(list, {'random': []})

Забегая вперед, в качестве аргумента `defaultdict` удобно использовать лямбда-функции (анонимные функции):

In [ ]:
dct = defaultdict(set)
dct["answer"]

set()

Подробнее мы познакомимся с функциями на одном из следующих занятий.

## OrderedDict

C версии Python 3.7 сохранение порядка гарантируется и для `dict`, но операция сравнения для обычных диктов всё ещё не учитывает порядок в отличие от `OrderedDict`.

Кроме того, у `OrderedDict` есть метод `move_to_end` (подвинуть существующий элемент в конец), которого нет в обычном словаре.

In [ ]:
from collections import OrderedDict

data1 = [(1, 'a'), (3, 'c'), (2, 'b')]
data2 = [(1, 'a'), (2, 'b'), (3, 'c')]

normal_dict1 = dict(data1)
ordered_dict1 = OrderedDict(data1)

normal_dict2 = dict(data2)
ordered_dict2 = OrderedDict(data2)

In [ ]:
normal_dict1

{1: 'a', 3: 'c', 2: 'b'}

In [ ]:
normal_dict2

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
normal_dict1 == normal_dict2

True

In [ ]:
ordered_dict1

OrderedDict([(1, 'a'), (3, 'c'), (2, 'b')])

In [ ]:
ordered_dict2

OrderedDict([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
ordered_dict1 == ordered_dict2

False

In [ ]:
ordered_dict1.move_to_end(3)
ordered_dict1

OrderedDict([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
ordered_dict1 == ordered_dict2

True

## deque

**deque** - сокращение от double ended queue (двухсторонняя очередь). Модификация списка, которая позволяет быстро добавлять в начало и конец или удалять их. Рассмотрим пример:

In [ ]:
from collections import deque

dq = deque([1, 2, 3, 4, 5, 6])

In [ ]:
dq.append('to_the_end')
dq

deque([1, 2, 3, 4, 5, 6, 'to_the_end'])

In [ ]:
dq.appendleft('to_the_front')
dq

deque(['to_the_front', 1, 2, 3, 4, 5, 6, 'to_the_end'])

In [ ]:
result = dq.pop()
result, dq

('to_the_end', deque(['to_the_front', 1, 2, 3, 4, 5, 6]))

In [ ]:
result = dq.popleft()
result, dq

('to_the_front', deque([1, 2, 3, 4, 5, 6]))

In [ ]:
dq[2]

3

In [ ]:
lst = list(dq)
lst

[1, 2, 3, 4, 5, 6]

# Практика

## Задача 1

С помощью `list comprehension` создайте матрицу (список, состоящий из списков чисел) размера $N \times N$, содержащую квадраты чисел по возрастанию, начиная с 0. Сначала заполняется первая кологка, затем вторая и т.д.

**Пример ввода:**
```python
3
```

**Пример вывода:**
```python
[[0, 9, 36]
[1, 16, 49]
[4, 25, 64]]
```

In [ ]:
# ваш код в этой ячейке

## Задача 2

На вход подается список `input_list`, который содержит в себе как элементы базовых типов данных, так и другие списки, содержащие элементы базовых типов данных. Необходимо "выровнить" список `input_list` (см. пример) и поместить результат в список `output_list`.

**Пример ввода:**
```python
[0, [1, 2], 4, [1, 0, 3]]
```

**Пример вывода:**
```python
[0, 1, 2, 4, 1, 0, 3]
```

In [ ]:
# ваш код в этой ячейке

## Задача 3

На вход подается список кортежей. Для каждого кортежа посчитайте сумму и среднее его элементов. Верните список, состоящий из кортежей `(сумма, среднее)`.

**Пример ввода:**
```python
[(1, 2, 6), (2, 3, -8), (3, 4), (2, 2, 2, 2)]
```
**Пример вывода:**
```python
[(9, 3), (-3, -1), (7, 3.5), (8, 2)]
```

In [ ]:
list_of_tuples = [(1, 2, 6), (2, 3, -8), (3, 4), (2, 2, 2, 2)]

In [ ]:
# ваш код в этой ячейке

## Задача 4

На вход подается список кортежей. У всех кортежей одинаковое количество элементов, элементами всех кортежей являются числа. Верните кортеж с поэлементными суммами.

**Пример ввода:**
```python
[(1, 5), (1, 7), (2, 8)]
```
**Пример вывода:**
```python
(4, 20)
```

In [ ]:
# ваш код в этой ячейке

## Задача 5

Программа получает на вход два целых числа - `a` и `b`. Верните произведение всех чисел в диапазоне $(a, b]$, которые содержат в себе цифру `1`.

In [ ]:
# ваш код в этой ячейке

## Задача 6

Напишите программу, которая позволяет пользователю вводить числа до тех пор, пока введенное число не окажется кратно 3. Умножьте последнее число на сумму всех предыдущих и поделите на 3, а затем выведите результат.

Пример: 
- сумма предыдущих чисел - 5
- текущее - 21, 

Вывод:
35

Примечание: 5*21/3=35

In [ ]:
# ваш код в этой ячейке

## Задача 7

Напишите программу, которая подсчитает сумму всех чисел из диапазона $(0, 5000]$, кроме числа 2156 (его необходимо пропустить!).

In [ ]:
# ваш код в этой ячейке

## Задача 8

Напишите скрипт, который проверит все числа от 2 до 2000 (включая 2000) на кратность 12. Если число четное, необходимо сложить все цифры, входящие в это число и вывести на экран.

Например, число 24 кратно 12, результат будет суммой 2+4, т.е. "6".

In [ ]:
# ваш код в этой ячейке